div {
    background-color: #bcedf3;
    width: 70%;
    padding: 10px;
    border-radius: 12px;
    margin-left: auto;
    margin-right:auto;
    box-shadow: 10px 0 20px 0 gray;
    margin-bottom: 5px;
}

.form_text {
    color: #46724b;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
}

button {
    background-color: #bcedf3;
    border-color: #bcedf3;
    font-size: 18px;
    border-radius: 12px;
    color: #46724b;
    font-family: "Lucida Console", "Courier New", monospace;
}

.form {
    background-color: #bcedf3;
    margin: auto;
    width: 20%;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 10px 0 20px 0 gray;
}
